.footer{
    margin-top: 10vh;
    height: 60vh;
    width: 100%;
    background-color: rgb(19, 4, 19);
}

.footersection1{
    height: 40vh;
    margin: 0;
}

.lists{
    height: 30vh;
    margin: 5vh 2vh;
}

.headingf1{
    color: rgb(238, 220, 238);
    font-size: 15px;
    font-weight: 500;
}

.headingf2{
    color: rgb(231, 186, 231);
}

.ending{
    position: absolute;
    display: block;
    margin-top: 40px;
    height: 15vh;
    width: 100%;
    color: rgb(231, 186, 231);
}

.paymentadd{
    height: 10vh;
    width: 100%;
    display: block;
    padding-top: 2vh;
}