.phase2{
    margin: 20vh 0vh 5vh 0vh;
    height: 60vh;
    width: 100%;
}

.heading21{
    color: rgb(80, 78, 78);
    font-size: 30px;
    font-weight: 600 ;
}

.listheading2{
    margin-left: 5vh;
    color: rgb(80, 78, 78);
    font-size: 40px;
    font-weight: 600 ;
}

.listitem2{
    color: black;
    box-sizing: border-box;
    margin: 1vh 0;
    font-weight: 500;
}

.listitem2 :hover{
    transform: translateX(20px);
    transition-duration: 300ms;
}

li{
    text-align: -webkit-match-parent;
}